ARKEA_HOST=127.0.0.1
ARKEA_PORT=7210
ARKEA_DB_PATH=./data/arkea.db
ARKEA_WORKSPACE=./data/projects
ARKEA_OBSIDIAN_VAULT=./data/obsidian_vault
OLLAMA_BASE_URL=http://127.0.0.1:11434
COMFYUI_BASE_URL=http://127.0.0.1:8188
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
